<nav class="navbar navbar-classic">
    <div class="container">
        <ul class="navbar navbar-nav">
            <!-- <li>
                <button type="button" class="btn btn-Success"><a routerLink='DashBoard'
                        routerLinkActive="active">Dash Board</a>
                </button>
            </li> -->
            <li>
                <button type="button" class="btn btn-Success"><a routerLink='Search'
                        routerLinkActive="active">Search</a>
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-Success"><a routerLink='History'
                        routerLinkActive="active">History</a>
                </button>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
