<div>
    <h1 style="text-align: center;color:olivedrab;">History of Searched Users Data is listed below</h1>
</div>

 <div class="container">
   <table class="table-success table-striped" border="2">
       <thead class="table-primary" style="color: orangered;">
           <td class="table-primary">Login</td>
           <td class="table-primary">ID</td>
           <td class="table-primary">Node ID</td>
           <td class="table-primary">Avatar URL</td>
           <td class="table-primary">Gr Avatar ID</td>
       </thead>
       <tr *ngFor="let k of rcvdHist">
           <td>{{k.login}}</td>
           <td>{{k.id}}</td>
           <td>{{k.node_id}}</td>
           <td>{{k.avatar_url}}</td>
           <td>{{k.gravatar_id}}</td>
          </tr>
   </table>
 </div>